.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Adjust as needed */
}

.employee-form {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.employee-form div {
  margin-bottom: 10px;
}

.employee-form label {
  display: block;
  font-weight: bold;
}

.employee-form input[type="text"],
.employee-form input[type="date"],
.employee-form select,
.employee-form input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.employee-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.employee-form button:hover {
  background-color: #0056b3;
}

.ss{
  padding: 10px; 
  margin-left: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.employee-table {
  margin-top: 20px;
}

.employee-table table {
  width: 100%;
  border-collapse: collapse;
}

.employee-table th,
.employee-table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

.employee-table th {
  background-color: #f2f2f2;
}

.pagination {
  margin-top: 20px;
  text-align: center; /* Center the pagination buttons */
}

.pagination button {
  background-color: #007bff; /* Blue background */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.pagination button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.pagination button.active {
  background-color: #0056b3; /* Darker blue for active button */
}


.search-container {
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 200px;
}

.search-container button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}
